.preloader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #e4e4e4;
    z-index: 2001;
}

.overlay {
    border: 150px double rgba(233, 227, 227, 8);
    position: absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 1;
    animation: zooom 2s linear forwards;
    transition: ease all 0.5s;
    border-radius: 50%;
}

.move .overlay {
    transform: scale(10);
}

@keyframes zooom {
    0% {
        width: 0%;
        height: 0%;
        border: 150px double rgba(255, 255, 255, 0);
    }

    100% {
        width: 40vh;
        height: 40vh;
        border: 1px double rgba(255, 255, 255, 0.4);
    }
}

button:focus {
    outline: none !important;
}

.preloader-overlay svg {
    transform: scale(1);
    transition: ease all 0.5s;
    opacity: 1;
}

.preloader-overlay.move svg {
    transform: scale(10);
    filter: blur(5);
    opacity: 0;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.preloader svg {
    width: 150px;
}

.preloader path {
    fill: transparent;
    stroke-width: 2;
    stroke: #000;
}

.preloader path {
    stroke-dasharray: 900;
    stroke-dashoffset: 900;
}

.preloader path {
    animation: xyz 4s linear forwards;
    animation-delay: 1s;
}

@keyframes xyz {
    0% {
        stroke-dashoffset: 900;
    }

    40% {
        stroke-dashoffset: 675;
    }

    80% {
        fill: transparent;
        stroke-dashoffset: 450;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.move .preloader path {
    fill: #000;
}