.container {
    display: flex;
}

.task {
    margin: 8px;
    border: 1px solid lightGrey;
    border-radius: 2px;
    padding: 8px;
    background-color: white;
    display: flex;
}

.draggingTask {
    background-color: lightGreen;
}

.taskColumn {
    padding: 8px;
    transition: background-color 1s ease;
    flex-grow: 1;
    min-height: 100px;
}

.columnDraggingOver {
    background-color: skyblue;
}

.dragHandle {
    background-color: orange;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    margin-right: 8px;
}

//
.choose-programs {
    table {
        .empty-list {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 50%;
        }
        tr {
            background-color: white;

            td, th {
                padding: 0.75rem 0.5rem 0.75rem 1.2rem;

                .info-icon {
                    color: $gray-60;
                    cursor: pointer;
                    margin-right: 1rem;
                }
            }

            .program-name-td {
                width: 100%;
            }

            .delete-icon-td {
                padding: 0.75rem 0.8rem 0.75rem 0;
                cursor: pointer;
            }
        }
        .activeRow {
            background-color: $card-body-color;
            color: white !important;
            border-top: 0px solid transparent;
        }
    }
}

.program-detail-popup>.popover {
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    border: 1px solid $card-body-color;

    .program-detail-row {
        margin-bottom: 0.5rem;
        display: flex;
        span {
            width: 35%;
        }
    }
}